.pagination .page-item.active .page-link {
    background: var(--pricolor);
    border: none;
    border-radius: 10px;
    color: #fff;
}

.pagination .page-link {
    background: transparent;
    border: none;
    color: var(--pricolor);
}

.pagination {
  flex-wrap: wrap;
}

.page-link {
  min-width: 40px;
  text-align: center;
}

.btn-dark{
  background-color: var(--pricolor);
  border: none;
  color: #fff;
}

.btn-dark:hover{
  background-color: #4e0000;
}

.btn-outline-secondary{
  border-color: var(--pricolor);
  color: var(--pricolor);
}

.btn-outline-secondary:hover{
  background-color: var(--pricolor);
  color: #fff;
}
